<app-navbar></app-navbar>
<div class="jumbotron">
    <h2>Criar Veículo</h2>

    <div>
        <label>Matrícula
            <br>
            <input name="licensePlate" #licensePlate />
        </label>
        <br>

        <label>Número de Identificação
            <br>
            <input name="vin" #vin />
        </label>
        <br>

        <label>Tipo de Veículo
            <br>
            <select name="vehicleType" #vehicleType>
                <option *ngFor="let type of vehicleTypes" value={{type.name}}>{{type.name}}</option>
            </select>
        </label>
        <br>

        <label>Data de Primeiro Serviço
            <br>
            <input name="firstServiceDate" type="date" #firstServiceDate />
        </label>

        <br>
        <br>
        <!-- (click) passes input value to add() and then clears the input -->
        <button id="submit"
            (click)="addVehicle(licensePlate.value, vin.value, vehicleType.value, firstServiceDate.value); licensePlate.value =''; vin.value =''; firstServiceDate.value ='';"
            class="btn btn-primary">
            Criar Veículo
        </button>
    </div>
</div>