<app-navbar></app-navbar>
<div class="jumbotron">
    <h2>Create Vehicle</h2>

    <div>
        <label>License Plate
            <br>
            <input name="licensePlate" #licensePlate />
        </label>
        <br>

        <label>Vehicle Identification Number
            <br>
            <input name="vin" #vin />
        </label>
        <br>

        <label>Vehicle Type
            <br>
            <select name="vehicleType" #vehicleType>
                <option *ngFor="let type of vehicleTypes" value={{type.name}}>{{type.name}}</option>
              </select>
        </label>
        <br>

        <label>First Service Date
            <br>
            <input name="firstServiceDate" type="date" #firstServiceDate />
        </label>

        <br>
        <br>
        <!-- (click) passes input value to add() and then clears the input -->
        <button
            id="submit"
            (click)="addVehicle(licensePlate.value, vin.value, vehicleType.value, firstServiceDate.value); licensePlate.value =''; vin.value =''; firstServiceDate.value ='';"
            class="btn btn-primary">
            Add Vehicle
        </button>
    </div>
</div>
