<app-navbar></app-navbar>
<div class="jumbotron">
  <h2>Passagens</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Chave</th>
        <th scope="col">Tempo de Passagem</th>
        <th scope="col">Nó de Passagem</th>
        <th scope="col">É Usado</th>
        <th scope="col">É Estação de Recolha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let passingTime of passingTimes">
        <td>{{passingTime.key}}</td>
        <td>{{passingTime.time}}</td>
        <td>{{passingTime.node}}</td>
        <td>{{passingTime.isUsed}}</td>
        <td>{{passingTime.isReliefPoint}}</td>
      </tr>
    </tbody>
  </table>
</div>