<div class="jumbotron">
    <h2>Create Node</h2>
    <div class="textfield">
        <label>Key
            <br>
            <input #nodeKey />
        </label>
        <br>
        <label>Name
            <br>
            <input #nodeName />
        </label>
        <br>
        <label>Latitude
            <br>
            <input type="number" min=0 #nodeLatitude />
        </label>
        <br>
        <label>Longitude
            <br>
            <input type="number" min=0 #nodeLongitude />
        </label>
        <br>
        <label>Short Name
            <br>
            <input #nodeShortName />
        </label>
        <br>
        <label for="isDepot">
            Is Depot:
        </label>
        <br>
        <select name="isDepot" #nodeIsDepot>
            <option value='true'>Yes</option>
            <option value='false'>No</option>
        </select>
        <br>
        <label for="isReliefPoint">
            Is Relief Point:
        </label>
        <br>
        <select name="isReliefPoint" #nodeIsReliefPoint>
            <option value='true'>Yes</option>
            <option value='false'>No</option>
        </select>
        <br>
        <label>Capacities
            <br>
            <input type="number" min=0 #nodeCapacities />
        </label>
        <br>
        <button (click)="addNode(nodeKey.value,nodeName.value,nodeLatitude.value,nodeLongitude.value,nodeShortName.value,
        nodeIsDepot.value,nodeIsReliefPoint.value,nodeCapacities.value);" class="btn btn-primary">
            Create
        </button>


    </div>
    <br>
</div>