<app-navbar></app-navbar>
<div class="jumbotron">
    <h2>Criar Nó</h2>
    <label>Chave
        <br>
        <input name="nodeKey" #nodeKey />
    </label>
    <br>
    <label>Nome
        <br>
        <input name="nodeName" #nodeName />
    </label>
    <br>
    <label>Latitude
        <br>
        <input type="number" min=-90 max=90 name="nodeLatitude" #nodeLatitude />
    </label>
    <br>
    <label>Longitude
        <br>
        <input type="number" min=-90 max=90 name="nodeLongitude" #nodeLongitude />
    </label>
    <br>
    <label>Abreviatura
        <br>
        <input name="nodeShortName" #nodeShortName />
    </label>
    <br>
    <label for="isDepot">
        Depósito?
    </label>
    <br>
    <select name="isDepot" #nodeIsDepot>
        <option value='true'>Sim</option>
        <option value='false'>Não</option>
    </select>
    <br>
    <label for="isReliefPoint">
        Ponto de Alívio?
    </label>
    <br>
    <select name="isReliefPoint" #nodeIsReliefPoint>
        <option value='true'>Sim</option>
        <option value='false'>Não</option>
    </select>
    <br>
    <label>Capacidade
        <br>
        <input type="number" min=0 name="nodeCapacities" #nodeCapacities />
    </label>
    <br>
    <button id="submit"
        (click)="addNode(nodeKey.value,nodeName.value,nodeLatitude.value,nodeLongitude.value,nodeShortName.value,
        nodeIsDepot.value,nodeIsReliefPoint.value,nodeCapacities.value);nodeKey.value =''; nodeName.value =''; nodeLatitude.value = 0;nodeLongitude.value =0; nodeShortName.value = '';nodeIsDepot.value =''; nodeIsReliefPoint.value = '';nodeCapacities.value=0;"
        class="btn btn-primary">
        Criar Nó
    </button>
    <br>
</div>