<h2>Nodes:</h2>
<ul class="">
    <li *ngFor="let node of nodes">
        {{node.key}}
    </li>
</ul>

<div>
    <label>Key:
        <input #nodeKey />
    </label>
    <br>
    <label>Name:
        <input #nodeName />
    </label>
    <br>
    <label>Latitude:
        <input #nodeLatitude />
    </label>
    <br>
    <label>Longitude:
        <input #nodeLongitude />
    </label>
    <br>
    <label>Short Name:
        <input #nodeShortName />
    </label>
    <br>
    <label for="isDepot">
        Is Depot: 
    </label>
    <select name="isDepot" #nodeIsDepot>
        <option value='true'>True</option>
        <option value='false'>False</option>
    </select>
    <br>
    <label for="isReliefPoint">
        Is Relief Point:  
    </label> 
    <select name="isReliefPoint" #nodeIsReliefPoint>
        <option value='true'>True</option>
        <option value='false'>False</option>
    </select>
    <br>
    <label>Capacities:
        <input #nodeCapacities />
    </label>
    <br>
    <button (click)="addNode(nodeKey.value, nodeName.value, nodeLatitude.value, nodeLongitude.value, nodeShortName.value, nodeIsDepot.value, nodeIsReliefPoint.value, nodeCapacities.value);
    nodeKey.value='';
    nodeName.value='';
    nodeLatitude.value='';
    nodeLongitude.value='';
    nodeShortName.value='';
    nodeIsDepot.value='';
    nodeIsReliefPoint.value='';
    nodeCapacities.value=''">
        Add Node
    </button>
</div>
<br>
<button (click)="goBack()">Back!</button>