<app-navbar></app-navbar>
<div class=jumbotron>
    <h2>Criar Condutor</h2>
    <div>
        <label>Nome
            <br>
            <input name="name" #name />
        </label>
        <br>
        <label>Data de Nascimento
            <br>
            <input type="date" name="birthdate" #birthdate />
        </label>
        <br>
        <label>Número de Carta de Condução
            <br>
            <input type="number" name="driverLicenseNum" #driverLicenseNum />
        </label>
        <br>
        <label>Data Limite de Licença
            <br>
            <input type="date" name="licenseExpiration" #licenseExpiration />
        </label>
        <br>
        <button id="submit" (click)="createDriver(name.value,birthdate.value,driverLicenseNum.value,licenseExpiration.value);
        name.value='';birthdate.value='';driverLicenseNum.value='';licenseExpiration.value='';"
            class="btn btn-primary">
            Criar Condutor
        </button>
    </div>
</div>