<app-navbar></app-navbar>
<div class="jumbotron">
  <h2>Criar Linha</h2>
  <div>
    <div>
      <label>Chave
        <br>
        <input name="lineKey" #lineKey />
      </label>
      <br>
      <label>Nome
        <br>
        <input name="lineName" #lineName />
      </label>
      <br>
      <label>Cor
        <br>
        <input name="color" #lineColor />
      </label>
      <br>
      <button id="submit" (click)="addLine(lineKey.value, lineName.value, lineColor.value)" class="btn btn-primary">
        Criar Linha
      </button>
    </div>
  </div>
</div>