<app-clientnavbar></app-clientnavbar>
<div class="c">
    <div class="jumbotron">
        <h1 class="display-4">Projeto Integrador LAPR5</h1>
        <p class="lead">Esta aplicação foi desenvolvida no âmbito da unidade curricular de Laboratório
            Projeto 5 (LAPR5) da Licenciatura de Engenharia Informática do ISEP e funciona como um único
            projeto integrador de todas as unidades curriculares do 5º semestre: ALGAV, ARQSI, ASIST, SGRAI e GESTA.
        </p>
        <hr class="my-4">
        <p>O sistema de informação apresentado, a pedido da Autoridade Intermunicipal de Transportes (AIT), é um sistema
            de gestão e planeamento de transportes públicos que
            permite a gestão bem como consulta pelos utilizadores de diferentes redes de transportes, linhas e viagens,
            bem como o planeamento dos serviços de viaturas e tripulantes a efetuar nessas linhas.</p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Saber
            mais</button>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Grupo 25</h5>
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <h6>Equipa:</h6>
                <p>João Pires - 1150455@isep.ipp.pt;<br>
                    Sergio Carreirinha - 1180800@isep.ipp.pt;<br>
                    César Ferreira - 1180811@isep.ipp.pt;<br>
                    José Cunha - 1181494@isep.ipp.pt;<br>
                    Francisco Tavares - 1181844@isep.ipp.pt.<br>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>