<div class="jumbotron">
    <h2>Create Vehicle Type</h2>
    <div>
        <label>
            Key
            <br>
            <input #vehicleTypeKey />
        </label>
    </div>
    <div>
        <label>
            Name
            <br>
            <input #vehicleTypeName />
        </label>
    </div>
    <div>
        <label>
            Autonomy
            <br>
            <input type="number" min=0 #vehicleTypeAutonomy />
        </label>
    </div>
    <div>
        <label>
            Cost
            <br>
            <input type="number" min=0 #vehicleTypeCost />
        </label>
    </div>
    <div>
        <label>
            Average Speed
            <br>
            <input type="number" min=0 #vehicleTypeAvgSpeed />
        </label>
    </div>
    <div>
        <label>
            Energy Source
            <br>
            <input type="number" min=0 #vehicleTypeEnrgSource />
        </label>
    </div>
    <div>
        <label>
            Consumption
            <br>
            <input type="number" min=0 #vehicleTypeConsumption />
        </label>
    </div>
    <div>
        <label>
            Emissions
            <br>
            <input type="number" min=0 #vehicleTypeEmissions />
        </label>
    </div>
    <div>
        <button (click)="addVehicleType(vehicleTypeKey.value, vehicleTypeName.value, 
        vehicleTypeAutonomy.value, vehicleTypeCost.value, vehicleTypeAvgSpeed.value, 
        vehicleTypeEnrgSource.value, vehicleTypeConsumption.value, vehicleTypeEmissions.value)" type=" button"
            class="btn btn-primary">Create</button>
    </div>
</div>