<app-navbar></app-navbar>
<div class="jumbotron">
    <h2>Criar Tipo de Veículo</h2>
    <div>
        <label>
            Chave
            <br>
            <input #vehicleTypeKey />
        </label>
    </div>
    <div>
        <label>
            Nome
            <br>
            <input #vehicleTypeName />
        </label>
    </div>
    <div>
        <label>
            Autonomia
            <br>
            <input type="number" min=0 #vehicleTypeAutonomy />
        </label>
    </div>
    <div>
        <label>
            Custo
            <br>
            <input type="number" min=0 #vehicleTypeCost />
        </label>
    </div>
    <div>
        <label>
            Velocidade Média
            <br>
            <input type="number" min=0 #vehicleTypeAvgSpeed />
        </label>
    </div>
    <div>
        <label>
            Fonte de Energia
            <br>
            <input type="number" min=0 #vehicleTypeEnrgSource />
        </label>
    </div>
    <div>
        <label>
            Consumo
            <br>
            <input type="number" min=0 #vehicleTypeConsumption />
        </label>
    </div>
    <div>
        <label>
            Emições
            <br>
            <input type="number" min=0 #vehicleTypeEmissions />
        </label>
    </div>
    <div>
        <button (click)="addVehicleType(vehicleTypeKey.value, vehicleTypeName.value, 
        vehicleTypeAutonomy.value, vehicleTypeCost.value, vehicleTypeAvgSpeed.value, 
        vehicleTypeEnrgSource.value, vehicleTypeConsumption.value, vehicleTypeEmissions.value)" type=" button"
            class="btn btn-primary">Criar Tipo de Veículo</button>
    </div>
</div>