<app-navbar></app-navbar>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="jumbotron">
    <div class="grid-container">
        <div class="grid-item">
            <h2>Criar Viagem</h2>
            <div>
                <label>
                    Chave
                    <br>
                    <input #key />
                </label>
            </div>
            <div>
                <label>
                    Está vazia?
                    <input #isEmpty type=checkbox />
                </label>
            </div>
            <div>
                <label>
                    Orientação
                    <br>
                    <select id="orientation" name='orientation' #orientation>
                        <option value="Go">Ida</option>
                        <option value="Return">Volta</option>
                        <option value="adhoc">Ad hoc</option>
                    </select>
                </label>
            </div>
            <div>
                <label>Linha
                    <br>
                    <select id="selectLine" name='line' (change)="getPaths()" #line>
                      <option *ngFor="let line of lines" value={{line.key}}>{{line.name}}</option>
                    </select>
                  </label>
            </div>
            <div>
                <label>
                    Caminho
                    <br>
                    <select name='path' #path>
                        <option *ngFor="let path of linePaths" value={{path.key}}>{{path.key}}</option>
                    </select>
                </label>
            </div>
            <div>
                <label>
                    Está gerada?
                    <input #isGenerated type=checkbox />
                </label>
            </div>
            <div>
                <label>
                    Passagens
                    <br>
                    <select #passing>
                        <option *ngFor="let passingTime of passingTimes" value={{passingTime.id}}>{{passingTime.key}}
                        </option>
                    </select>
                </label>
                <button (click)="addPassingTime(passing.value);" class="btn btn-primary">
                    Adicionar Passagem
                </button>
            </div>
            <div>
                <button (click)="addTrip(key.value, isEmpty.checked, 
                orientation.value, line.value, path.value, 
                isGenerated.checked)" type=" button" class="btn btn-primary">Criar</button>
            </div>
        </div>
        <div class="grid-item">
            <h2>Passagens Selecionadas</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col">Tempo</th>
                        <th scope="col">Nó</th>
                    </tr>
                </thead>
                 <tbody>
                    <tr *ngFor="let passingTrip of passingTrips">
                        <td>{{passingTrip.key}}</td>
                        <td>{{passingTrip.time}}</td>
                        <td>{{passingTrip.node}}</td>
                    </tr>
                </tbody> 
            </table>
        </div>
    </div>
</div>