<app-navbar></app-navbar>
<div class="jumbotron">
  <h2>Viagens</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Chave</th>
        <th scope="col">Linha</th>
        <th scope="col">Orientação</th>
        <th scope="col">Caminho</th>
        <th scope="col">É gerado?</th>
        <th scope="col">Passagens</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trip of trips">
        <td>{{trip.key}}</td>
        <td>{{trip.line}}</td>
        <td>{{trip.orientation}}</td>
        <td>{{trip.path}}</td>
        <td>{{trip.isGenerated}}</td>
        <table class="table">
          <tbody>
            <tr *ngFor="let passing of trip.passingTimes">
              <td>{{passing.key}}</td>
            </tr>
          </tbody>
        </table>
      </tr>
    </tbody>
  </table>
</div>