<app-navbar></app-navbar>
<div class="jumbotron">
    <div class="grid-container">
        <div class="grid-item">
            <h2>Create Vehicle Duty</h2>
            <div class="textfield">
                <label>Key
                    <br>
                    <input #vehicleDutyKey />
                </label>
                <br>
                <label>Name
                    <br>
                    <input #vehicleDutyName />
                </label>
                <br>
                <label>Color
                    <br>
                    <input #vehicleDutyColor />
                </label>
                <br>
                <label>Depots
                    <br>
                    <input #vehicleDutyDepots />
                </label>
                <br>
                <label>WorkBlocks
                    <br>
                    <select #workBlock>
                        <option *ngFor="let workBlock of workBlocks" value={{workBlock.name}}>{{workBlock.name}}
                        </option>
                    </select>
                </label>
                <button (click)="addWorkBlock(workBlock.value);" class="btn btn-primary">
                    Create Vehicle Duty
                </button>
                <br>
                <br>
                <button
                    (click)="addVehicleDuty(vehicleDutyKey.value,vehicleDutyName.value,vehicleDutyColor.value,vehicleDutyDepots.value);"
                    class="btn btn-primary">
                    Create Vehicle Duty
                </button>
            </div>
        </div>
        <div class="grid-item">
            <h2>Selected WorkBlocks</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                    </tr>
                </thead>
                 <tbody>
                    <tr *ngFor="let workBlockVehicleDuty of workBlocksVehicleDuty">
                        <td>{{workBlockVehicleDuty.name}}</td>
                        <td>{{workBlockVehicleDuty.startTime}}</td>
                        <td>{{workBlockVehicleDuty.endTime}}</td>
                    </tr>
                </tbody> 
            </table>
        </div>
        <br>
    </div>
</div>