<app-navbar></app-navbar>
<div class="jumbotron">
    <div class="grid-container">
        <div class="grid-item">
            <h2>Criar Serviço de Veículo</h2>
            <div class="textfield">
                <label>Chave
                    <br>
                    <input name="key" #vehicleDutyKey />
                </label>
                <br>
                <label>Nome
                    <br>
                    <input  name="name" #vehicleDutyName />
                </label>
                <br>
                <label>Cor
                    <br>
                    <input name="color" #vehicleDutyColor />
                </label>
                <br>
                <label>Depósitos
                    <br>
                    <input name="depots" #vehicleDutyDepots />
                </label>
                <br>
                <label>Blocos de Trabalho
                    <br>
                    <select name="workBlock" #workBlock>
                        <option *ngFor="let workBlock of workBlocks" value={{workBlock.id}}>{{workBlock.key}}
                        </option>
                    </select>
                </label>
                <button id="workblockSubmit" (click)="addWorkBlock(workBlock.value);" class="btn btn-primary">
                    Adicionar Bloco de Trabalho
                </button>
                <br>
                <br>
                <button id="submit"
                    (click)="addVehicleDuty(vehicleDutyKey.value,vehicleDutyName.value,vehicleDutyColor.value,vehicleDutyDepots.value);"
                    class="btn btn-primary">
                    Criar Serviço de Veículo
                </button>
            </div>
        </div>
        <div class="grid-item">
            <h2>Blocos de Trabalho Selecionados</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Chave</th>
                        <th scope="col">Tempo Inicial</th>
                        <th scope="col">Tempo Final</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let workBlockVehicleDuty of workBlocksVehicleDuty">
                        <td>{{workBlockVehicleDuty.key}}</td>
                        <td>{{workBlockVehicleDuty.startTime}}</td>
                        <td>{{workBlockVehicleDuty.endTime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
    </div>
</div>